header .wrapper {
  max-width: 1320px;
  padding: 22px 0;
  margin: 0 auto;
}
header .wrapper .header-info__text {
  color: #a8a8a8;
}
header .wrapper .header-info__actions {
  gap: 26px;
}
header .wrapper .header-info__actions-btn {
  border: 1px solid #5a5a5a;
  padding: 5px 10px;
}
header .wrapper .header-info__actions-btn-text {
  margin-left: 9px;
  font-size: 14px;
  color: #eeeeee;
}
header .wrapper .header-info__actions-btn:hover {
  border-color: #ffffff;
}
header .wrapper .header-info__actions-btn:active {
  background-color: #404040;
}
header .wrapper .header-info__actions-links {
  gap: 15px;
}
header .wrapper .header-info__actions-links .line {
  height: 16px;
  width: 1px;
  background-color: #404040;
}
header .wrapper .header-info__actions-links-link {
  font-size: 14px;
}
header .wrapper .header-main-nav {
  gap: 10rem;
}
header .wrapper .header-main-nav__nav {
  gap: 33px;
}
header .wrapper .header-main-nav__nav-item {
  font-size: 16px;
}
header .wrapper .header-main-bnt {
  gap: 17px;
}
header .wrapper .header-main-bnt__login {
  padding: 5px 20px;
  border: 1px solid #cd0511;
  font-size: 16px;
}
header .wrapper .header-main-bnt__login:hover {
  background-color: #404040;
}
header .wrapper .header-main-bnt__login:active {
  color: #cd0511;
}
header .wrapper .header-main-bnt__register {
  padding: 5px 20px;
  background-color: #179149;
  border: 1px solid #179149;
  font-size: 16px;
}
header .wrapper .header-main-bnt__register:hover {
  background-color: #161616;
}
header .wrapper .header-main-bnt__register:active {
  color: #179149;
}

.lorem {
  width: 100%;
  padding: 80px 0;
  background: url("../../assets/img/background.png") no-repeat center center;
}
.lorem__title {
  font-size: 7rem;
  line-height: 7rem;
  text-align: center;
}
.lorem__title--gold {
  background: linear-gradient(90deg, #fcd678 0%, #bc8c2f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lorem .form-wrapper {
  width: 65rem;
  background-color: #ffffff;
  padding: 40px;
  margin: 32px auto 0;
  border-radius: 10px;
}
.lorem .form-wrapper .form__title {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
}
.lorem .form-wrapper .form__fields {
  margin-top: 32px;
  flex-wrap: wrap;
  gap: 16px;
}
.lorem .form-wrapper .form__fields .form-field {
  width: 29.1rem;
  padding: 10px 12px;
  color: #999999;
  font-size: 16px;
  border: 1px solid #999999;
  border-radius: 5px;
}
.lorem .form-wrapper .form__fields-select {
  width: 317px !important;
}
.lorem .form-wrapper .form__fields-select-option {
  font-size: 14px;
}
.lorem .form-wrapper .form__fields-phone {
  gap: 10px;
}
.lorem .form-wrapper .form__fields-phone-select {
  width: 63px !important;
  appearance: none;
}
.lorem .form-wrapper .form__fields-phone-input {
  width: 218px !important;
}
.lorem .form-wrapper .form__policy {
  margin-top: 24px;
  justify-content: flex-start;
  gap: 8px;
}
.lorem .form-wrapper .form__policy-input {
  border: 1px solid #999999;
  border-radius: 2px;
}
.lorem .form-wrapper .form__policy-text {
  font-size: 12px;
  color: #999999;
}
.lorem .form-wrapper .form__policy-text--red {
  color: #cd0511;
}
.lorem .form-wrapper .form__btn {
  display: block;
  margin: 4rem auto 0;
  padding: 14px 0;
  width: 307px;
  background-color: #179149;
  border: 1px solid #179149;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}
.lorem .form-wrapper .form__btn:hover {
  border: 1px solid #179149;
  background-color: transparent;
  color: #000000;
}
.lorem .form-wrapper .form__btn:active {
  color: #179149;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

h1 {
  font-family: "SofiaSansBold", Courier, monospace;
  color: #ffffff;
}

h2 {
  font-family: "SofiaSansRegular", Courier, monospace;
  color: #000000;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button, a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #eeeeee;
  font-family: "OpenSansRegular", Courier, monospace;
}

button {
  border-radius: 4px;
}

li {
  list-style: none;
}

input, select, option {
  font-family: "OpenSansRegular", Courier, monospace;
}

body {
  max-width: 1800px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #f4f4f4;
  color: #161616;
  font-family: "OpenSansRegular", Courier, monospace;
}

header, footer {
  background-color: #161616;
  color: #eeeeee;
}

a:hover {
  text-decoration: underline;
}

a:active {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
