header .wrapper {
  max-width: 1320px;
  padding: 15px 0 22px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  header .wrapper {
    max-width: 100%;
    padding: 22px 20px;
  }
}
header .wrapper .header-info__text {
  color: #a8a8a8;
  font-size: 10px;
}
header .wrapper .header-info__actions {
  gap: 26px;
}
header .wrapper .header-info__actions-btn {
  border: 1px solid #5a5a5a;
  padding: 5px 10px;
}
header .wrapper .header-info__actions-btn-text {
  margin-left: 9px;
  font-size: 14px;
  color: #eeeeee;
}
header .wrapper .header-info__actions-btn:hover {
  border-color: #ffffff;
}
header .wrapper .header-info__actions-btn:active {
  background-color: #404040;
}
@media (max-width: 1024px) {
  header .wrapper .header-info__actions-btn {
    display: none;
  }
}
header .wrapper .header-info__actions-links {
  gap: 15px;
}
header .wrapper .header-info__actions-links .line {
  height: 16px;
  width: 1px;
  background-color: #404040;
}
header .wrapper .header-info__actions-links-link {
  font-size: 14px;
}
@media (max-width: 1024px) {
  header .wrapper .header-info__actions-links {
    display: none;
  }
}
header .wrapper .header-main {
  margin-top: 1rem;
}
header .wrapper .header-main-nav {
  gap: 10rem;
}
header .wrapper .header-main-nav__nav {
  gap: 33px;
}
header .wrapper .header-main-nav__nav-item-link {
  font-size: 16px;
}
@media (max-width: 1024px) {
  header .wrapper .header-main-nav__nav {
    display: none;
  }
}
header .wrapper .header-main-bnt {
  gap: 17px;
}
header .wrapper .header-main-bnt__login {
  padding: 5px 20px;
  border: 1px solid #cd0511;
  font-size: 16px;
}
header .wrapper .header-main-bnt__login:hover {
  background-color: #404040;
}
header .wrapper .header-main-bnt__login:active {
  color: #cd0511;
}
@media (max-width: 1024px) {
  header .wrapper .header-main-bnt__login {
    display: none;
  }
}
header .wrapper .header-main-bnt__register {
  padding: 5px 20px;
  background-color: #179149;
  border: 1px solid #179149;
  font-size: 16px;
}
header .wrapper .header-main-bnt__register:hover {
  background-color: #161616;
}
header .wrapper .header-main-bnt__register:active {
  color: #179149;
}
@media (max-width: 1024px) {
  header .wrapper .header-main-bnt__register {
    display: none;
  }
}
header .wrapper .header-main-bnt__burger {
  display: none;
}
@media (max-width: 1024px) {
  header .wrapper .header-main-bnt__burger {
    display: block;
    background: url(./assets/icon/menu_icon.png) no-repeat center center;
    width: 50px;
    height: 50px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(106%) contrast(104%);
  }
}

.lorem {
  width: 100%;
  padding: 80px 0;
  background: url("../assets/img/background.png") no-repeat center center;
  background-size: cover;
}
.lorem__title {
  font-size: 7rem;
  line-height: 7rem;
  text-align: center;
}
.lorem__title--gold {
  background: linear-gradient(90deg, #fcd678 0%, #bc8c2f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lorem .form-wrapper {
  width: 65rem;
  background-color: #ffffff;
  padding: 40px;
  margin: 32px auto 0;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .lorem .form-wrapper {
    width: 50rem;
  }
}
.lorem .form-wrapper .form__title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}
.lorem .form-wrapper .form__fields {
  margin-top: 32px;
  flex-wrap: wrap;
  gap: 16px;
}
.lorem .form-wrapper .form__fields .form-field {
  width: 29.1rem;
  padding: 10px 12px;
  color: #999999;
  font-size: 16px;
  border: 1px solid #999999;
  border-radius: 5px;
}
@media (max-width: 1440px) {
  .lorem .form-wrapper .form__fields .form-field {
    width: 100%;
  }
}
.lorem .form-wrapper .form__fields .form-field__email {
  width: 29.1rem;
  position: relative;
}
@media (max-width: 1440px) {
  .lorem .form-wrapper .form__fields .form-field__email {
    width: 94%;
  }
}
@media (max-width: 768px) {
  .lorem .form-wrapper .form__fields .form-field__email {
    width: 274px;
  }
}
@media (max-width: 380px) {
  .lorem .form-wrapper .form__fields .form-field__email {
    width: 224px;
  }
}
.lorem .form-wrapper .form__fields .form-field__email .form-field__error {
  display: none;
  position: absolute;
  color: #cd0511;
  margin-top: 2px;
}
.lorem .form-wrapper .form__fields-select {
  width: 317px !important;
}
@media (max-width: 1440px) {
  .lorem .form-wrapper .form__fields-select {
    width: 100% !important;
  }
}
.lorem .form-wrapper .form__fields-select-option {
  font-size: 14px;
}
.lorem .form-wrapper .form__fields-phone {
  gap: 10px;
}
@media (max-width: 1440px) {
  .lorem .form-wrapper .form__fields-phone {
    width: 100% !important;
  }
}
.lorem .form-wrapper .form__fields-phone-select {
  width: 63px !important;
  appearance: none;
}
.lorem .form-wrapper .form__fields-phone-input {
  width: 218px !important;
}
@media (max-width: 1440px) {
  .lorem .form-wrapper .form__fields-phone-input {
    width: 100% !important;
  }
}
.lorem .form-wrapper .form__policy {
  margin-top: 24px;
  justify-content: flex-start;
  gap: 8px;
}
.lorem .form-wrapper .form__policy-input {
  border: 1px solid #999999;
  border-radius: 2px;
}
.lorem .form-wrapper .form__policy-text {
  font-size: 12px;
  color: #999999;
}
.lorem .form-wrapper .form__policy-text--red {
  color: #cd0511;
}
.lorem .form-wrapper .form__btn {
  display: block;
  margin: 4rem auto 0;
  padding: 14px 0;
  width: 307px;
  background-color: #179149;
  border: 1px solid #179149;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}
.lorem .form-wrapper .form__btn:hover {
  border: 1px solid #179149;
  background-color: transparent;
  color: #000000;
}
.lorem .form-wrapper .form__btn:active {
  color: #179149;
}
.lorem .form-wrapper .form__btn:disabled {
  background-color: #5a5a5a;
  cursor: not-allowed;
}
@media (max-width: 1440px) {
  .lorem .form-wrapper .form__btn {
    width: 100%;
  }
}

.rutrum {
  padding-top: 12rem;
  padding-bottom: 16.7rem;
  position: relative;
}
@media (max-width: 768px) {
  .rutrum {
    padding-bottom: 10rem;
  }
}
.rutrum__img {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}
@media (max-width: 1440px) {
  .rutrum__img {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .rutrum__img {
    width: 30%;
  }
}
@media (max-width: 600px) {
  .rutrum__img {
    display: none;
  }
}
.rutrum__title {
  font-size: 5rem;
  text-align: center;
}
.rutrum-main {
  max-width: 1075px;
  margin: 6.3rem auto 0;
}
@media (max-width: 1440px) {
  .rutrum-main {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .rutrum-main {
    padding: 0 20px;
  }
}
.rutrum-main__items {
  width: 178px;
  flex-direction: column;
  gap: 11.9rem;
}
.rutrum-main__items .rutrum-item__img {
  padding-left: 13px;
}
.rutrum-main__items .rutrum-item__text {
  padding-top: 22px;
  font-size: 16px;
  color: #161616;
}

.burger-menu {
  display: none;
}

@media (max-width: 1024px) {
  .burger-menu {
    position: absolute;
    width: calc(100% - 44px);
    height: 100%;
    background-color: #161616;
    z-index: 3;
    padding: 22px 20px;
  }
  .burger-menu__close {
    margin-top: 24px;
    display: block;
    width: 50px;
    height: 50px;
    background: url(/assets/icon/cross.png) no-repeat center center;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(106%) contrast(104%);
    float: right;
  }
  .burger-menu__nav {
    margin-top: 50px;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
  }
  .burger-menu__btn {
    flex-direction: column;
    margin-top: 30px;
    margin-right: 50px;
    gap: 18px;
    font-size: 24px;
  }
  .burger-menu__btn-login {
    padding: 5px 20px;
    border: 1px solid #cd0511;
    font-size: 24px;
  }
  .burger-menu__btn-login:hover {
    background-color: #404040;
  }
  .burger-menu__btn-login:active {
    color: #cd0511;
  }
  .burger-menu__btn-register {
    padding: 5px 20px;
    background-color: #179149;
    border: 1px solid #179149;
    font-size: 24px;
  }
  .burger-menu__btn-register:hover {
    background-color: #161616;
  }
  .burger-menu__btn-register:active {
    color: #179149;
  }
  .burger-menu__btn-download {
    border: 1px solid #5a5a5a;
    padding: 5px 10px;
  }
  .burger-menu__btn-download-text {
    margin-left: 9px;
    font-size: 24px;
    color: #eeeeee;
  }
  .burger-menu__btn-download:hover {
    border-color: #ffffff;
  }
  .burger-menu__btn-download:active {
    background-color: #404040;
  }
}
.prizes {
  padding-bottom: 8rem;
  background-color: #ffffff;
  flex-direction: column;
  gap: 8rem;
}
.prizes__title {
  padding-top: 12rem;
  font-size: 5rem;
  text-align: center;
}
.prizes-items {
  gap: 2rem;
}
@media (max-width: 1440px) {
  .prizes-items {
    padding: 0 2rem;
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
.prizes-items__item {
  width: 427px;
  height: 272px;
  padding: 44px 0 34px;
  background-color: #f4f4f4;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .prizes-items__item {
    width: 300px;
  }
}
.prizes-items__item-img {
  display: block;
  margin: 0 auto;
}
.prizes-items__item-money {
  font-family: "OpenSansBold", Courier, monospace;
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  line-height: 40px;
}
.prizes-items__item-prize {
  margin: 0 auto;
  width: 157px;
  margin-top: 48px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
.prizes-btn {
  margin: 0 auto;
}
.prizes-btn__btn {
  font-family: "OpenSansBold", Courier, monospace;
  width: 300px;
  padding: 15px;
  background-color: #179149;
  color: #ffffff;
  border: 1px solid #179149;
}
.prizes-btn__btn:hover {
  border: 1px solid #179149;
  background-color: transparent;
  color: #000000;
}
.prizes-btn__btn:active {
  color: #179149;
}
.prizes-btn__text {
  margin-top: 5px;
  font-size: 12px;
  color: #a8a8a8;
  text-align: center;
}

.sed {
  flex-direction: column;
  gap: 8rem;
}
.sed__title {
  padding-top: 12rem;
  font-size: 5rem;
  line-height: 5rem;
  text-align: center;
}
.sed-main {
  gap: 7rem;
}
@media (max-width: 1440px) {
  .sed-main {
    flex-direction: column;
    justify-content: center !important;
  }
}
@media (max-width: 768px) {
  .sed-main {
    width: 100%;
  }
}
.sed-main__cards {
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.sed-main__cards-card {
  position: relative;
  width: 600px;
  padding: 30px 35px;
  background-color: #ffffff;
  border-radius: 20px;
  justify-content: flex-start !important;
  gap: 32px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .sed-main__cards-card {
    width: 100%;
    flex-direction: column;
  }
}
.sed-main__cards-card-img {
  display: block;
}
.sed-main__cards-card-info {
  flex-direction: column;
  align-items: flex-start !important;
  gap: 25px;
}
.sed-main__cards-card-info-text {
  font-size: 18px;
  text-transform: uppercase;
}
.sed-main__cards-card-info-text--gold {
  font-family: "OpenSansBold", Courier, monospace;
  background: linear-gradient(90deg, #fcd678 0%, #bc8c2f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sed-main__cards-card-info-text--small {
  text-transform: lowercase;
}
.sed-main__cards-card-info-text--grey {
  color: #a8a8a8;
}
.sed-main__cards-card-info-text--bold {
  font-family: "OpenSansBold", Courier, monospace;
}
.sed-main__cards-card-info-text--red {
  color: #cd0511;
}
.sed-main__cards-card-banner {
  position: absolute;
  top: 25px;
  right: -60px;
  width: 225px;
  height: 46px;
  background: linear-gradient(90deg, #fcd678 0%, #bc8c2f 100%);
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  z-index: 1;
}
.sed-main__cards-card-banner-prize {
  color: #ffffff;
  font-size: 24px;
  font-family: "OpenSansBold", Courier, monospace;
}
.sed-main__info-title {
  font-size: 25px;
  font-family: "OpenSansBold", Courier, monospace;
  text-transform: uppercase;
}
.sed-main__info-table {
  width: 650px;
  margin-top: 5rem;
  border-collapse: collapse;
}
@media (max-width: 768px) {
  .sed-main__info-table {
    width: 100%;
  }
}
.sed-main__info-table-head {
  width: 100%;
  font-family: "OpenSansBold", Courier, monospace;
  color: #cd0511;
}
.sed-main__info-table-body {
  width: 100%;
  font-size: 16px;
  line-height: 5rem;
}
.sed-main__info-table th, .sed-main__info-table td {
  line-height: 5rem;
  border-bottom: 1px solid #dedede;
  text-align: left;
  font-size: 16px;
}
.sed-main__info-table th:first-child, .sed-main__info-table td:first-child {
  width: 100%;
  padding-left: 21px;
}
.sed-main__info-table th:last-child, .sed-main__info-table td:last-child {
  width: 102px;
  font-family: "OpenSansBold", Courier, monospace;
}
.sed-main__info-text {
  margin-top: 22px;
  color: #a8a8a8;
  font-size: 12px;
}
.sed-btn {
  margin: 0 auto;
}
.sed-btn__btn {
  font-family: "OpenSansBold", Courier, monospace;
  width: 300px;
  padding: 15px;
  background-color: #179149;
  color: #ffffff;
  border: 1px solid #179149;
}
.sed-btn__btn:hover {
  border: 1px solid #179149;
  background-color: transparent;
  color: #000000;
}
.sed-btn__btn:active {
  color: #179149;
}
.sed-btn__text {
  margin-top: 5px;
  font-size: 12px;
  color: #a8a8a8;
  text-align: center;
}

.faq {
  margin: 12rem 0;
}
.faq__title {
  font-weight: 5rem;
  font-size: 5rem;
  text-align: center;
}
.faq__title--small {
  text-transform: lowercase;
}
.faq-accordion {
  max-width: 1320px;
  margin: 0 auto;
}
.faq-accordion__details {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #e4e4e4;
  border-radius: 5px;
}
.faq-accordion__details-summary {
  padding: 19px 5.6rem 19px 7rem;
}
.faq-accordion__details-summary-title {
  font-family: "OpenSansSemiBold", Courier, monospace;
  font-size: 20px;
}
.faq-accordion__details-answer {
  border-top: 2px solid #B9B7B7;
  border-radius: 5px;
  padding: 19px 5.6rem 19px 7rem;
  font-size: 16px;
}
.faq details[open] summary img {
  transform: rotate(180deg);
}

footer {
  padding: 4.8rem 0 11.5rem;
}
footer .footer-wrapper {
  max-width: 1320px;
  padding: 0 2rem;
  margin: 0 auto;
  align-items: flex-start;
}
@media (max-width: 768px) {
  footer .footer-wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
footer .footer-wrapper .footer-media {
  width: 296px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
footer .footer-wrapper .footer-media__title {
  font-family: "OpenSansBold", Courier, monospace;
  font-size: 16px;
}
footer .footer-wrapper .footer-media__download {
  gap: 9px;
}
footer .footer-wrapper .footer-media__download-btn {
  width: 116px;
  height: 39px;
}
footer .footer-wrapper .footer-media__download-btn:hover {
  border: 1px solid #ffffff;
}
footer .footer-wrapper .footer-media__download-btn:active {
  border: 1px solid #179149;
}
footer .footer-wrapper .footer-media__download-btn--apple {
  background: url(../assets/img/app-store.png) no-repeat center center;
}
footer .footer-wrapper .footer-media__download-btn--google {
  background: url(../assets/img/google-play.png) no-repeat center center;
}
footer .footer-wrapper .footer-risk__title {
  font-family: "OpenSansBold", Courier, monospace;
  font-size: 16px;
  line-height: 26px;
}
footer .footer-wrapper .footer-risk__text {
  margin-top: 5.5rem;
  font-size: 11px;
  line-height: 14px;
  color: #999999;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

h1 {
  font-family: "SofiaSansBold", Courier, monospace;
  color: #ffffff;
}

h2 {
  font-family: "SofiaSansRegular", Courier, monospace;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button, a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #eeeeee;
  font-family: "OpenSansRegular", Courier, monospace;
}

button {
  border-radius: 4px;
}

li {
  list-style: none;
}

input, select, option {
  font-family: "OpenSansRegular", Courier, monospace;
}

body {
  margin: 0 auto;
  background-color: #f4f4f4;
  color: #161616;
  font-family: "OpenSansRegular", Courier, monospace;
}

header, footer {
  background-color: #161616;
  color: #eeeeee;
}

input, select {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:active {
  font-weight: 700;
}

@media (max-width: 1440px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 380px) {
  html {
    font-size: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
