@font-face {
   font-family: "OpenSansRegular";
   src: url(../assets/fonts/OpenSans/OpenSans-Regular.ttf) format("truetype");
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "OpenSansBold";
   src: url(../assets/fonts/OpenSans/OpenSans-Bold.ttf) format("truetype");
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-family: "OpenSansSemiBold";
   src: url(../assets/fonts/OpenSans/OpenSans-SemiBold.ttf) format("truetype");
   font-style: normal;
   font-weight: 600;
}

@font-face {
   font-family: "SofiaSansRegular";
   src: url(../assets/fonts/SofiaSansCondensed/SofiaSansCondensed-Regular.ttf) format("truetype");
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "SofiaSansBold";
   src: url(../assets/fonts/SofiaSansCondensed/SofiaSansCondensed-Bold.ttf) format("truetype");
   font-style: normal;
   font-weight: 700;
}
