@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
}

html {
   font-size: 10px;
}

h1 {
   font-family: 'SofiaSansBold', Courier, monospace;
}

h2 {
   font-family: 'SofiaSansRegular', Courier, monospace;
   color: $black;
}

.flex {
   display: flex;
   justify-content: space-between;
}

body {
   max-width: $screen-xl;
   overflow: hidden;
   margin: 0 auto;
   background-color: $whire-grey;
   color: $light-black;
}

