$light-black: #161616;
$black: #000000;
$dark-white: #eeeeee;
$white:#ffffff;
$white-grey: #f4f4f4;
$light-grey: #a8a8a8;
$dark-grey: #404040;
$black-grey: #999999;
$grey: #5a5a5a;
$red: #cd0511;
$green: #179149;
$gold: linear-gradient(90deg,rgba(252, 214, 120, 1) 0%, rgba(188, 140, 47, 1) 100%);
